<a href="https://colab.research.google.com/github/dharmesh-data/code-27-07-2022-Dharmeshbhai_Patel/blob/main/Bmi_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [65]:
y='''[{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]'''

In [66]:
import json

In [67]:
z=json.loads(y)

In [68]:
z

[{'Gender': 'Male', 'HeightCm': 171, 'WeightKg': 96},
 {'Gender': 'Male', 'HeightCm': 161, 'WeightKg': 85},
 {'Gender': 'Male', 'HeightCm': 180, 'WeightKg': 77},
 {'Gender': 'Female', 'HeightCm': 166, 'WeightKg': 62},
 {'Gender': 'Female', 'HeightCm': 150, 'WeightKg': 70},
 {'Gender': 'Female', 'HeightCm': 167, 'WeightKg': 82}]

In [69]:
import pandas as pd
df = pd.DataFrame(z)

In [70]:
df

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [71]:
def BMI_calculator(WeightKg,HeightCm):
  return round(WeightKg/(HeightCm/100)**2,2)

In [72]:
df['BMI']=df.apply(lambda x:BMI_calculator(x.WeightKg,x.HeightCm),axis=1)

In [73]:
df

   Gender  HeightCm  WeightKg    BMI
0    Male       171        96  32.83
1    Male       161        85  32.79
2    Male       180        77  23.77
3  Female       166        62  22.50
4  Female       150        70  31.11
5  Female       167        82  29.40

In [74]:
def bmi_category(BMI):
  if BMI<=18.4:
    return {'Bmi_category':'Underweight','Health_risk':'Malnutrition risk'}
  elif BMI>18.4 and BMI<=24.9:
    return {'Bmi_category':'Normal weight','Health_risk':'Low risk'}
  elif BMI>24.9 and BMI<=29.9:
    return {'Bmi_category':'Overweight','Health_risk':'Enhanced risk'}
  elif BMI>29.9 and BMI<=34.9:
    return {'Bmi_category':'Moderately obese','Health_risk':'Medium risk'}
  elif BMI>34.9 and BMI<=39.9:
    return {'Bmi_category':'Severely obese','Health_risk':'High risk'}
  else:
    return {'Bmi_category':'Very severely obese','Health_risk':'Very high risk'}

In [75]:
df['BMI_category']= df['BMI'].apply(lambda x:bmi_category(x)['Bmi_category'])

In [76]:
df

   Gender  HeightCm  WeightKg    BMI      BMI_category
0    Male       171        96  32.83  Moderately obese
1    Male       161        85  32.79  Moderately obese
2    Male       180        77  23.77     Normal weight
3  Female       166        62  22.50     Normal weight
4  Female       150        70  31.11  Moderately obese
5  Female       167        82  29.40        Overweight

In [77]:
df['Health_risk']= df['BMI'].apply(lambda x:bmi_category(x)['Health_risk'])

In [78]:
df

   Gender  HeightCm  WeightKg    BMI      BMI_category    Health_risk
0    Male       171        96  32.83  Moderately obese    Medium risk
1    Male       161        85  32.79  Moderately obese    Medium risk
2    Male       180        77  23.77     Normal weight       Low risk
3  Female       166        62  22.50     Normal weight       Low risk
4  Female       150        70  31.11  Moderately obese    Medium risk
5  Female       167        82  29.40        Overweight  Enhanced risk

In [79]:
no_of_overweight_people = len(df[df['BMI_category']=='Overweight'])
no_of_overweight_people

1

In [80]:
percentage_of_overweight_people=round(no_of_overweight_people*100/len(df),2)
percentage_of_overweight_people

16.67